.header {
  background-color: #3498db;
  color: #ffffff;
  width: 20%;
  height: 100vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header button,
.link {
  background-color: #2ecc71;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-left: auto;
  cursor: pointer;
  width: 50%;
  margin: 1.5rem;
  text-align: center;
}

.header button:hover {
  background-color: #27ae60;
}
.linke {
  color: rgb(181, 87, 87);
  text-align: center;
  font-weight: bold;
}
